<launch>
  
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find cafe_table_control)/config/cafe_table_control.yaml" command="load"/>
  <!-- load the controllers -->
  <node name="controller_spawner_wall" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/cafe_table" args="joint_wall_position_controller joint_wall_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node ns="/cafe_table" name="robot_state_publisher_wall" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/cafe_table/joint_states" />
  </node>

</launch>
